* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.global-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

footer {
  min-height: 6rem;
  background: rebeccapurple;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* PAGE CONTENT */
.page-content {
  flex: 1 1 auto; /* It makes the content occupy the whole space available */
  background-color: aliceblue;
  color: slategrey;

  /* Center content */
  display: flex;
  flex-direction: column;
  justify-content: center; /* it centers in the flex direction */
  align-items: center; /* it centers in the cross of the flex direction */
}

/* TOP BAR AND SIDENAV*/

.topbar {
  position: sticky;
  z-index: 10000;
  flex: 0 1 auto;
  background-color: rebeccapurple;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  box-shadow: 0.2rem 0.2rem 1rem 1px rgba(0, 0, 0, 0.2);
}

.topbar .logo {
  text-decoration: none;
  font-family: "Fasthand", cursive;
  font-size: 2rem;
  padding: 0;
  margin: 0 auto 0 0;
  padding: 0 1rem;
  color: whitesmoke;
}

.sidenav-open .sidenav,
.sidenav-open .backdrop-overlay,
body:not(.sidenav-open) .topbar .menu-icon {
  transform: translateX(0);
}

body:not(.sidenav-open) .sidenav {
  transform: translateX(100%);
}

.sidenav-open .topbar {
  width: calc(100% - 33vw);
}

.sidenav,
.topbar,
.menu-icon {
  transition: all 0.5s ease;
}
.backdrop-overlay {
  transition: width 0s ease, opacity 0.5s ease;
}
.sidenav-open .backdrop-overlay {
  opacity: 1;
}

body:not(.sidenav-open) .topbar {
  width: 100%;
}

body:not(.sidenav-open) .backdrop-overlay {
  /* if we use display: none, the fade effect will not occur */
  width: 0;
  opacity: 0;
  transition: opacity 0.5s ease,
    /* transition the width as well to wait until the opacity transition ends */
      width 5s ease;
}

.topbar .menu-icon {
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 0.3em 0.618em;
  cursor: pointer;
  text-decoration: none;
}

.topbar .menu-icon:after {
  content: "\2630";
  min-width: 1em;
  min-height: 1em;
  font-weight: bold;
}

.topbar nav.sidenav {
  position: fixed;
  z-index: 10001;
  width: 33vw;
  background-color: rebeccapurple;
  top: 0;
  right: 0;
  height: 100vh;
  box-shadow: 1.618rem 1.618rem 1.618rem 1.618rem rgba(0, 0, 0, 0.9);
}

.backdrop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.topbar nav.sidenav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.topbar nav.sidenav ul li {
  width: 100%;
  margin: auto;
  flex: 1 1 auto;
}

.topbar nav.sidenav ul li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.618rem;
  margin-bottom: 1px;
  text-transform: uppercase;
  font-size: 1.25rem;
  box-shadow: inset 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
}

.hidden {
  transform: translateX(100vw);
}
